* {
    font-family: Verdana, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

table {
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 3px;
}

label {
    display: block;
}

#calculate {
    display: block;
    margin-top: 20px;
}
